APP_NAME = "swimming-search"
APP_VERSION = "v0.1.0"

NODE_ID = "1"
ADMIN_USER = <YOUR_TG_USER>

LOGGER_LEVEL = "debug"
LOGGER_PRETTY_CONSOLE = "true"

REDIS_ADDR = "localhost:6379"
REDIS_PERSIST_ON_CLOSE = "true"

BOT_TOKEN = <YOUR_TG_BOT_TOKEN>

OTEL_ENDPOINT = "localhost:4317"
OTEL_NAMESPACE = "dev"
OTEL_INSTANCE_ID = "1"
